.navbar {
  @include flexCenter(row);
  padding: 10px 20px;
  background-color: $theme-blue-main;
  position: sticky;
  z-index: 100;
  top: 0;
  margin-bottom: 5px;
  .welcome {
    font-family: Nunito;
    font-weight: 900;
    font-size: 22px;
    margin: 0;
    h6 {
      margin: 0;
      font-style: 400;
    }
  }
  .nav-profile-img {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.dark-mode {
  .navbar {
    @include flexCenter(row);
    padding: 10px 20px;
    background: $dark-theme-bg;
    position: sticky;
    z-index: 100;
    top: 0;
    margin-bottom: 5px;
    .welcome {
      font-family: Nunito;
      font-weight: 900;
      font-size: 22px;
      margin: 0;
      color: $dark-theme-font-color;
      h6 {
        margin: 0;
        font-style: 400;
      }
    }
    .nav-profile-img {
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}
