.content-container {
  background-color: $back-ground;
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .content-dipped {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-text;
    margin: 10px 5px 5px 10px;
    box-shadow: $box-small-inner-shadow;
  }

  .content-course {
    width: auto;
    padding: 0px 10px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-text;
    margin: 4px 2px;
    box-shadow: $box-shadow-black-course;
    font-weight: 700;
    
    @include phone {
      font-size: 3vw;
    }

    .course-avg {
      color: $second-accent;
      font-size: 15px;
      font-style: italic;
      margin: 0 10px;
      @include phone {
        font-size: 3vw;
      }
    }

    .content-dipped {
      box-shadow: $box-small-inner-shadow;
    }
  }

  .content-course:hover {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border: solid 2px grey;
  }

  @include phone {
    width: 100%;
  }
}

.hide {
  display: none;
}
