.overview-container {
  padding: 10px 30px;
  margin: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: $box-shadow-black-course;

  .overview-header {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-image: $yellow-inner-gradient;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .overview-mark {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: auto 0;
    font-size: 40px;
    background-image: linear-gradient(95deg, #ffffffad, #5e5e5e);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .overview-gpa {
      width: auto;
      font-size: 15px;
      font-style: italic;
      font-weight: 500;
      border-radius: 20px;
      padding: 5px 10px;
      box-shadow: inset 2px 2px 3px 0 rgba(0, 0, 0, 0.2), inset -2px -2px 3px 0 rgba(255, 255, 255, 0.068);
    }

    .awesome {
      border: solid 1px $awesome;
    }

    .good {
      border: solid 1px $good;
    }

    .okay {
      border: solid 1px $okay;
    }

    .bad {
      border: solid 1px $bad;
    }
  }
}
