@import "./utilities/variables.scss";
@import "./utilities/_mixins.scss";

@import "./components/screens/editScreen.scss";
@import "./components/screen-navigator.scss";
@import "./components/screens/accountScreen.scss";
@import "./components/carousel.scss";
@import "./components/bottomNavbar.scss";
@import "./components/navbar.scss";
@import "./components/screens/popUp.scss";
@import "./components/screens/barOverview.scss";
@import "./components//screens/homeScreen.scss";
@import "./components/screens/loginScreen.scss";

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

html {
  background-color: $theme-blue-main;
}
.hideBlock {
  display: none;
}
