.assessment-container {
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #01325c10;
  overflow-y: scroll;
  height: 530px;
  box-shadow: $box-inner-shadow;
  border: solid 1px rgba(128, 128, 128, 0.6);

  .assessment-completion {
    margin-top: 10px;
    text-align: center;
  }

  .assessment-completion-bar {
    height: 3px;
    background-color: $second-accent;
    margin-top: 10px;
    width: 100%;
  }

  .assessment-data {
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: $box-shadow-black-course;
    margin: 10px 20px 10px 20px;
  }

  .assessment-input {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: $main-text;
  }

  .assessment-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .mark{
      color: $second-accent;
      font-weight: 300;
    }
    .worth{
      color: rgba(0, 40, 198, 0.579);
      font-weight: 500;
    }
  }

  .assessment-single {
    display: flex;
    flex-direction: row;
  }

  .assessment-remove {
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: $second-accent;
    font-size: x-large;
    color: $back-ground;
  }
}