.login-form {
    width: auto;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: auto 0;
    border-radius: 20px;
    border: 1px solid rgba(51, 51, 51, 0.589);
    @include phone {
        padding: 20px;
        height: 85vh;
    }
    p {
        margin-top:0;
        color: $second-dark-accent;
        font-weight: 600;
    }
    h1 {
        color: #333;
        font-size: 50px;
        padding-top: 100px;
        text-align: left;

        @include phone {
            padding-top: 0px;
            font-size: 30px;
        }
    }
    input {
        margin-bottom: 30px;
        width: 90%;
        border: none;
        border-bottom: 1px solid $main-text;
        box-shadow: none;
        border-radius: 0;
    }
    input::placeholder {
        color: $dull-black;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
    }
    .login-message-failure {
        border: 2px solid $bad;
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        border-radius: 10px;
        background-color: $bare;
        color: $main-text;
        margin-bottom: 20px;
    }
    .login-submit {
        color: $white;
        background: $second-accent-inner-gradient;
        cursor: pointer;
        border: none;
        font-weight: 700;
        padding: 20px 0;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
    }
    .login-register {
        color: $dull-black;
        background: transparent;
        border: 3px solid $dull-black;
        font-weight: 700;
        cursor: pointer;
        padding: 20px 0;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
    }
}
