@keyframes move-left {
  from {
    left: 0;
  }
  to {
    left: 50px;
  }
}

.account-screen {
  width: 100%;
  height: calc(100vh - 70);
  background: $theme-blue-main;

  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 100px;
  .hr {
    width: 100%;
    height: 3px;
    margin: 10px 0;
    background-color: $theme-grey-main;
    border-radius: 10px;
  }
  .profile {
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    h4 {
      margin-bottom: 0;
    }
    span {
      color: rgba(51, 51, 51, 0.747);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      margin-top: 7px;
      p {
        margin: 0;
        margin-left: 2px;
      }
    }
  }
}

.account-settings {
  @include flexCenter(row);
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  .left-section {
    @include flexCenter(row);
    padding: 0;
  }
  .slider-click {
    width: 50px;
    background-color: $theme-blue-main-sel;
    height: 25px;
    border-radius: 13px;
    text-align: left;
    padding: 0;
    svg {
      color: $purple;
      margin: 0;
      font-size: 25px;
    }
  }
  svg {
    color: $dark-theme-bg;
  }
  h6 {
    color: #333;
    font-size: 20px;
    margin: 0 20px;
  }
}

.accordian {
  justify-content: space-between;
  .info {
    @include flexCenter(row);
    padding: 0;
    h6 {
    }
  }
  p {
    @include flexCenter(row);
    margin: 0;
    padding: 0;
  }
}

.logout-account-settings {
  @extend .account-settings;
  justify-content: flex-start;
  background-color: #c50000ad;
  transition: 0.5s box-shadow ease-in-out;
  &:hover {
    box-shadow: 1px 3px 20px 6px rgba(255, 0, 0, 0.541);
  }
  h6 {
    color: $theme-blue-main;
  }
}

.dark-mode {
  .account-screen {
    background: $dark-theme-bg;
    width: 100%;
    height: calc(100vh - 70);
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 100px;
    .hr {
      width: 100%;
      height: 3px;
      margin: 10px 0;
      background-color: $theme-grey-main;
      border-radius: 10px;
    }
    .profile {
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      h4 {
        color: $dark-theme-font-color;
        margin-bottom: 0;
      }
      span {
        color: $dark-theme-font-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: 7px;
        p {
          margin: 0;
          margin-left: 2px;
        }
      }
    }
  }

  .account-settings {
    @include flexCenter(row);
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    .left-section {
      @include flexCenter(row);
      padding: 0;
    }
    .slider-click {
      width: 50px;
      background-color: $dark-theme-bg-light;
      height: 25px;
      border-radius: 13px;
      text-align: right;
      padding: 0;
      svg {
        color: $dark-theme-yellow-dark;
        margin: 0;
        font-size: 25px;
      }
    }
    svg {
      color: $dark-theme-font-color;
    }
    h6 {
      color: $dark-theme-font-color;
      font-size: 20px;
      margin: 0 20px;
    }
  }

  .accordian {
    justify-content: space-between;
    .info {
      @include flexCenter(row);
      padding: 0;
      h6 {
      }
    }
    p {
      @include flexCenter(row);
      margin: 0;
      padding: 0;
    }
  }

  .logout-account-settings {
    @extend .account-settings;
    justify-content: flex-start;
    background-color: #c5000080;
    transition: 0.5s box-shadow ease-in-out;
    &:hover {
      box-shadow: 1px 3px 20px 6px rgba(151, 0, 0, 0.404);
    }
    h6 {
      color: $theme-blue-main;
    }
  }
}
