.bar-overview {
  @include flexCenter(row);
  padding: 0;
  margin-left: 30px;
  position: relative;
  .avgLine {
    width: calc(100% + 60px);
    left: -50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;
    p {
      margin: 0 10px;
      font-size: 15px;
      font-weight: 700;
      font-family: Nunito;
    }
    hr {
      border: 0;
      border-top: 2px dashed rgba(51, 51, 51, 0.527);
      height: 0;
      width: 100%;
      background: transparent;
      margin-right: 50px;
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    .bar-container {
      @include flexCenter(column);
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      height: 280px;
      width: auto;
      margin-bottom: 20px;
      p {
        white-space: nowrap;
        font-weight: 500;
        overflow: hidden;
        font-size: 10px;
        text-overflow: ellipsis;
      }
      .bar {
        cursor: pointer;
        margin: 0 5px;
        p {
          position: relative;
          top: -30px;
          font-size: 10px;
          font-weight: 500;
        }
        .selected {
          p {
            color: "#2c76ffc2";
            border-bottom: "1px solid #2c76ffc2";
          }
        }
        width: auto;
        border-radius: 10px 10px 5px 5px;
      }
    }
  }
}

.dark-mode {
  .bar-overview {
    @include flexCenter(row);
    padding: 0;
    margin-left: 30px;
    position: relative;
    .avgLine {
      width: calc(100% + 60px);
      left: -50px;
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $dark-theme-font-color;
      p {
        margin: 0 10px;
        font-size: 15px;
        font-weight: 700;
        font-family: Nunito;
      }
      hr {
        border: 0;
        border-top: 2px dashed red;
        height: 0;
        width: 100%;
        background: transparent;
        margin-right: 50px;
      }
    }
    .container {
      display: flex;
      justify-content: flex-end;
      .bar-container {
        @include flexCenter(column);
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        height: 280px;
        width: auto;
        margin-bottom: 20px;
        p {
          white-space: nowrap;
          font-weight: 500;
          overflow: hidden;
          font-size: 10px;
          text-overflow: ellipsis;
          color: $dark-theme-font-color;
        }
        .bar {
          cursor: pointer;
          margin: 0 5px;
          p {
            position: relative;
            top: -30px;
            font-size: 10px;
            font-weight: 500;
          }

          width: auto;
          border-radius: 10px 10px 5px 5px;
        }
        .selected {
          color: $dark-theme-yellow-dark;
          border-bottom: 1px solid $dark-theme-yellow-dark;
        }
      }
    }
  }
}
