.edit-slider {
  height: fit-content;
  .key-statistics-card {
    min-width: fit-content;
    height: 90px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    justify-content: center;
    img {
      height: 30px;
      width: 30px;
    }
    p {
      color: rgba(51, 51, 51, 0.705);
      font-family: Nunito;
      font-size: 12px;
      margin: 5px 3px;
      white-space: nowrap;
    }

    h5 {
      font-size: 15px;
      margin: 0 3px;
      b {
        color: $purple;
        margin-left: 10px;
      }
    }
    h4 {
      margin: 0 3px;
      font-size: 25px;
      color: $purple;
    }
  }
}
