.content-container {
  background-color: $black;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .content-course {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border: solid 1px black;
    margin: 10px 5px 5px 10px;
    box-shadow: $box-shadow-black-course;
  }

  @include phone {
    width: 100%;
  }
}