$theme-blue-main: aliceblue;
$theme-blue-main-sel: rgb(209, 232, 252);
$theme-grey-main: #c3d7d8;
$theme-grey-main-light: rgb(218, 218, 218);
$theme-yellow-main: #333;
$purple: #0059ffd0;
$del-red: $purple; //#cd1818cc;
$red: #cd1818cc;
